[access]
	inheritFrom = All-Projects
[project]
	state = active
[access "refs/for/*"]
	push = group Registered Users
	label-Verified = -1..+1 group Registered Users
[access "refs/for/refs/heads/*"]
	pushMerge = group Registered Users
[access "refs/heads/*"]
	push = +force group Registered Users
	label-Verified = -1..+1 group Registered Users
[accurevConnector]
	uuid = 435879e4-1ad4-4002-a512-da137145dee5
	accurevAccount = accurev://git@localhost:5050
	cpkRegex = Resolves\\s+([\\d,]+)
[accurevBranchmap "refs/heads/master"]
	uuid = 471958bb-2b3e-420c-8c1f-e6336e63f91e
	depotId = 1
	streamId = 4
	mountEid = 1
[receive]
	requireChangeId = false
